.about-me {
    align-items: center;
    display: flex;
    height: 30rem;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    position: static;
}

.about-me-description {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

#myDescription {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    letter-spacing: -0.20rem;
    text-align: justify;
    width: 50%;
}



@media (max-width:600px) {
    .about-me-description {
        flex-direction: column;
    }
    #myDescription {
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        letter-spacing: -0.14rem;
    }
}

@media (max-width:300px) {
    .about-me-description {
        flex-direction: column;
    }

    .about-me {
        margin-top: 5rem;
    }

}