.menuBar {
    align-items: center;
    background-color: black;
    display: flex;
    height: 7rem;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20rem;
}

.menuBar > h2 {
    cursor: pointer;
    font-size: 2rem;
}

.menuBar > h2 > span {
    color: var(--color-secondary);
}

.menuBar-itens > ul {
    display: flex;
}

.menuBar-itens > ul > li > a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    transition: all .4s;
}

.menuBar-itens > ul > li > a:hover {
    color: var(--color-secondary);
}

.menuBar-mobile {
    display: none;
    position: relative;
}

.menuBar-mobileItens {
    background-color: black;
    border-radius: 1rem;
    display: none;
    height: 30rem;
    justify-content: center;
    position: absolute;
    right: -2rem;
    top: 7rem;
    width: 20rem;
} 

.menuBar-mobileItens > ul {
    margin-top: 3rem;
} 

.menuBar-mobileItens > ul > li {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;

} 

.menuBar-mobileItens > ul > li > a:hover{
    color: var(--color-secondary);    
    transition: all .4s;
} 

/*Menu Hamburguer*/
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    display: block;
    height: 2.2rem;
    position: relative;
    width: 3rem;
}

label span {
    background-color: #FFF;
    border-radius: 3rem;
    display: block;
    position: absolute;
    height: .5rem;
    transition: 0.25s ease-in-out;
    width: 100%;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}



@media (max-width: 900px) {
    .menuBar {
        padding: 0 5rem;
    }
    .menuBar-itens {
        display: none;
    }
    .menuBar-mobile{
        display: block;
        z-index: 1;
    }
    .open {
        display: block;
    }
}