.mySkills {
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: static;
    margin-bottom: 3rem;
    margin-top: 10rem;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.tittle > h2 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    color: var(--color-secondary);
}

.mySkills-itens {
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.mySkills-container {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #21201D;
    border-radius: 1rem;
    border: 1px solid #141412;
    cursor: pointer;
}

.mySkills-container > p {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

@media (max-width:600px) {
    .mySkills-container {
        width: 15rem;
        height: 7rem;
        flex-direction: row;
        border: 1px solid #141412;
    }
    .mySkills-container > img {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width:300px) {
    .mySkills {
        margin-top: 15rem;
    }
}

#popup-descriptionHtml {
    display: none;
}

#popup-descriptionCss {
    display: none;
}