.wrapper {
    height: 100vh;
}

.myProfyle-container {
    display: flex;
    flex-wrap: wrap;
    height: 70rem;
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

/*Container Direito!*/

.myProfile-right {
    height: 80%;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 10%;
    width: 50%;
}

.myProfile-img {
    height: 80%;
    left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

#rectangle1 {
    animation: animationPhoto2 forwards 8s infinite;
}

#rectangle2 {
    animation: animationPhoto forwards 8s infinite;
    left: -1rem;
    position: absolute;
    top: 5rem;
    z-index: -1;
}

#rectangle3 {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.img-perfil {
    border-radius: 30rem;
    height: 30rem;
    left: 6.5rem;
    overflow: hidden;
    position: absolute;
    top: 4rem;
    width: 20rem;
    z-index: 2;
}

#me {
    width: 100%;
}

/*Container Esquerdo!*/

.myProfile-left {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 10%;
    width: 50%;
}

.myProfile-left-itens {
    display: flex;
    flex-direction: column;
}

.myProfile-left-itens > h1 {
    color: var(--color-secondary);
    font-size: 5rem;
}

.myProfile-left-itens > h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin-top: -1rem;
}

.myProfile-left-itens > span {
    font-size: clamp(1rem, 2.5vw, 3rem);
    margin-top: 2rem;
}

.bubbles {
    align-items: center;
    display: flex;
    position: absolute;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.border-icon {
    align-items: center;
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    height: 10rem;
    justify-content: center;
    width: 10rem;
}

#react {
    animation: animationIcon 4s forwards infinite;
    font-size: 6rem;
    left: 10%;
    position: absolute;
    top: 15%;
}

#js {
    animation: animationIcon 4s forwards infinite;
    font-size: 6rem;
    left: 10%;
    position: absolute;
    top: 70%;
}

#html {
    animation: animationIcon 4s forwards infinite;
    font-size: 6rem;
    left: 75%;
    position: absolute;
    top: 15%;
}

#nodejs {
    animation: animationIcon 4s forwards infinite;
    font-size: 6rem;
    left: 65%;
    position: absolute;
    top: 70%;
}

#git {
    animation: animationIcon 4s forwards infinite;
    font-size: 6rem;
    left: 43%;
    position: absolute;
    top: 10%;
}

@media (max-width: 1370px) {
    .myProfile-left-itens {
        text-align: center;
    }
}

@media (max-width: 1100px){
    .myProfyle-container {
        height: 120rem;
    }
    .myProfile-right {
        align-items: center;
        display: flex;
        height: 55%;
        justify-content: center;
        top: 0%;
        width: 100%;
    }
    .myProfile-left {
        height: 50rem;
        margin-top: 46rem;
        width: 100%;
    }
    .myProfile-left-itens {
        align-items: center;
        display: flex;
        width: 100%;
    }
    .myProfile-left-itens > span {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
    }
    .myProfile-img {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
    .img {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
    #rectangle2 {
        left: -3rem;
        position: absolute;
        top: 5rem;
        z-index: -1;
    }

    /*Media querry para icons animado*/
    
    #react {
        left: 15%;
    }
    #git {
        left: 42%;
    }
    #html {
        left: 70%;
    }
    #js {
        left: 20%;
    }
}

@media (max-width: 420px){
    .myProfyle-container {
        height: 100rem;
    }
    .myProfile-left {
        margin-top: 38rem;
    }
    .myProfile-right {
        top: 4%;
    }
    #rectangle1{
        width: 25rem;
    }
    #rectangle2{
        width: 30rem;
    }
    #rectangle3{
        width: 25rem;
    }
    .img-perfil {
        border-radius: 30rem;
        height: 17rem;
        left: 6.5rem;
        position: absolute;
        top: 4rem;
        overflow: hidden;
        width: 10rem;
        z-index: 2;
    }
    #me {
        width: 100%;
    }
    #react {
        left: 5%;
    }

    /*Media querry para icons animado*/

    #git {
        left: 38%;
    }
    #nodejs {
        left: 60%;
    }
}

@media (max-width: 300px){
    .myProfyle-container {
        height: 100rem;
    }
    .myProfile-left {
        margin-top: 38rem;
    }
    .myProfile-left-itens > span {
        font-size: 1.2rem;
    }
    .myProfile-right {
        top: 4%;
    }
    #rectangle1{
        width: 25rem;
    }
    #rectangle2{
        width: 30rem;
    }
    #rectangle3{
        width: 25rem;
    }
    #me {
        width: 100%;
    }

        /*Media querry para icons animado*/

    #react {
        left: 1%;
        height: 8rem;
        width: 8rem;
    }
    #git {
        left: 35%;
        height: 8rem;
        width: 8rem;
    }
    #html {
        height: 8rem;
        width: 8rem;
    }
    #js {
        left: 8%;
        height: 9rem;
        width: 9rem;
    }
    #nodejs {
        height: 9rem;
        right: 0%;
        width: 9rem;
    }
}