/*Animações da foto da section*/
@keyframes animationPhoto {
    0%{
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animationPhoto2 {
    0%{
        transform: rotate(0);
    }
    50% {
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes animationIcon {
    0%{
        transform: rotate(0);
    }
    25% {
        transform: rotate(-46deg);

    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(46deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wrapper {
    height: 100vh;
}

.myProfyle-container {
    height: 70rem;
    max-width: 1920px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
}

/*Container Direito!*/

.myProfile-right {
    height: 80%;
    width: 50%;
    position: absolute;
    top: 10%;
    right: 0;
    overflow: hidden;    
}

.myProfile-img {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#rectangle1 {
    animation: animationPhoto2 forwards 8s infinite;
}

#rectangle2 {
    position: absolute;
    left: -1rem;
    top: 5rem;
    z-index: -1;
    animation: animationPhoto forwards 8s infinite;
}

#rectangle3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#me {
    position: absolute;
    left: 6.5rem;
    top: 6rem;
    width: 20rem;
    border-radius: 30rem;
    z-index: 2;
}

/*Container Esquerdo!*/

.myProfile-left {
    height: 80%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myProfile-left-itens {
    display: flex;
    flex-direction: column;
}

.myProfile-left-itens > h1 {
    color: var(--color-secondary);
    font-size: 5rem;
}

.myProfile-left-itens > h2 {
    font-size: 3rem;
    margin-top: -1rem;
}

.myProfile-left-itens > span{
    font-size: 2.5rem;
    margin-top: 2rem;
}

.bubbles {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.border-icon {
    height: 10rem;
    width: 10rem;
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#react {
    font-size: 6rem;
    position: absolute;
    top: 15%;
    left: 10%;
    animation: animationIcon 4s forwards infinite;
}

#js {
    font-size: 6rem;
    position: absolute;
    top: 70%;
    left: 10%;
    animation: animationIcon 4s forwards infinite;
}

#html {
    font-size: 6rem;
    position: absolute;
    top: 15%;
    left: 75%;
    animation: animationIcon 4s forwards infinite;
}

#nodejs {
    font-size: 6rem;
    position: absolute;
    top: 70%;
    left: 65%;
    animation: animationIcon 4s forwards infinite;
}

#git {
    font-size: 6rem;
    position: absolute;
    top: 10%;
    left: 43%;
    animation: animationIcon 4s forwards infinite;
}




@media (max-width: 1100px){
    .myProfyle-container {
        height: 120rem;
    }
    .myProfile-right {
        width: 100%;
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0%;
    }
    .myProfile-left {
        width: 100%;
        margin-top: 46rem;
        height: 50rem;
    }
    .myProfile-left-itens {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .myProfile-left-itens > span {
        font-size: clamp(1.5rem, 2.5vw, 3rem);
    }
    .myProfile-img {
        width: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #rectangle2 {
        position: absolute;
        left: -3rem;
        top: 5rem;
        z-index: -1;
    }
    /*Media querry para icons animado*/
    .bubbles {
    }
    #react {
        left: 15%;
    }
    #git {
        left: 42%;
    }
    #html {
        left: 70%;
    }
    #js {
        left: 20%;
    }
}

@media (max-width: 420px){
    .myProfyle-container {
        height: 100rem;
    }
    .myProfile-left {
        margin-top: 38rem;
    }
    .myProfile-right {
        top: 4%;
    }
    #react {
        left: 5%;
    }
    #git {
        left: 38%;
    }
    #rectangle1{
        width: 25rem;
    }
    #rectangle2{
        width: 30rem;
    }
    #rectangle3{
        width: 25rem;
    }
    #me {
        width: 12rem;
    }
    #nodejs {
        left: 60%;
    }
}